{:deps {org.clojure/clojure {:mvn/version "1.9.0"}
        com.bhauman/figwheel-main {:mvn/version "0.2.12"}
        quil/quil                      {:mvn/version "3.0.0"}
        ;; optional but recommended
        com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}}
 :aliases {:fig {:main-opts ["-m" "figwheel.main"]}}
 :paths ["cljs-src" "js" "target" "resources"]}
